.characteristic,
.characteristic * {
  box-sizing: border-box;
}
.characteristic {
  background: #ffffff;
  height: 1145px;
  position: relative;
  overflow: hidden;
}
.headline {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 624px;
  position: absolute;
  left: 7%;
  top: 629px;
}
.characteristic2 {
  color: #000000;
  text-align: left;
  font-family: var(--title-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-font-size, 64px);
  line-height: var(--title-line-height);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.div {
  color: #828282;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pr {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  width: 624px;
}
.navigation {
  background: #ffffff;
  height: 164px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.items {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 80px;
  top: 56px;
}
.introduction {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.characteristic3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.advantage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.zip {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: absolute;
  left: 80px;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-href-https-kr-freepik-com-icons-ec-95-85-ec-88-98-hj-studio-a {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 69px;
  top: 565px;
}
.char_img1 {
  width: 318px;
  height: 361px;
  position: absolute;
  left: 170px;
  top: 166px;
  object-fit: cover;
}
.char_img2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 583px;
  height: 660px;
  position: absolute;
  /* left: 797px; */
  right: 5%;
  top: 427px;
  filter: blur(2px);
  object-fit: cover;
}
.char_img3 {
  width: 725px;
  height: 866px;
  position: absolute;
  /* left: 594px; */
  right: 10%;
  top: 126px;
  box-shadow: 20px 20px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

a:link {color:#000000;}
a:visited{color:#000000;}