.introduction,
.introduction * {
  box-sizing: border-box;
}
.introduction {
  background: #ffffff;
  position: relative;
}
.intro_img1 {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 140px;
  object-fit: cover;
}
.headline {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 624px;
  position: absolute;
  left: 80px;
  top: 700px;
  padding-bottom: 100px;
}
.introduction2 {
  color: #000000;
  text-align: left;
  font-family: "Kodchasan-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.div {
  text-align: left;
  /* font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400); */
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-span {
  color: #828282;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
}
.div-span2 {
  color: #000000;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
}
.div-span3 {
  color: #828282;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inder-Regular", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 624px;
}
.navigation {
  background: #ffffff;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.items {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 80px;
  top: 67px;
}
.introduction3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.characteristic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.advantage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.zip {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: absolute;
  left: 80px;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
a:link {color:#000000;}
a:visited{color:#000000;}

@media screen and (max-width: 770px) {
  .zip{
    display: block;
    text-align: center;
    position: static;
    margin-top: 20px;
  }
  .items{
    margin-left: 50%;
    transform: translateX(-50%);
    right:auto;
  }
  .headline {
    top: 450px;
  }
}

@media screen and (max-width: 480px) {
  .navigation{
    align-items: center;
  }
  .headline {
    top: 320px;
    gap: 10px;
    width: 90%;
    left: auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .introduction2 {
    font-size: 40px;
  }
  .div-span, .div-span2, .div-span3{
    font-size: 14px;
  }
  .div2{
    font-size: 12px;
    width: auto;
  }
}