.characteristic,
.characteristic * {
  box-sizing: border-box;
}
.characteristic {
  background: #ffffff;
  position: relative;
}
.headline {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 624px;
  position: absolute;
  left: 7%;
  top: 629px;
  padding-bottom: 50px;
}
.characteristic2 {
  color: #000000;
  text-align: left;
  font-family: var(--title-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-font-size, 64px);
  line-height: var(--title-line-height);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.div {
  color: #828282;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pr {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  width: 624px;
}
.navigation {
  background: #ffffff;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.items {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 80px;
  top: 67px;
}
.introduction {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.characteristic3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.advantage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.zip {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: absolute;
  left: 80px;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 250px;
  top: 565px;
}
.char_img1 {
  width: 318px;
  height: 361px;
  position: absolute;
  left: 170px;
  top: 166px;
  object-fit: cover;
}
.char_img2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 583px;
  height: 660px;
  position: absolute;
  right: 5%;
  top: 427px;
  filter: blur(2px);
  object-fit: cover;
}
.char_img3 {
  width: 725px;
  height: 866px;
  position: absolute;
  right: 10%;
  top: 126px;
  box-shadow: 20px 20px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
a:link {color:#000000;}
a:visited {color:#000000;}

.linkClass:link {
  color:#0000EE;
  text-decoration: underline;
}
.linkClass:visited {color:#551A8B;}

@media screen and (max-width: 770px) {
  .zip{
    display: block;
    text-align: center;
    position: static;
    margin-top: 20px;
  }
  .items{
    margin-left: 50%;
    transform: translateX(-50%);
    right:auto;
  }
  .link{
    left: 15%;
    top: 400px
  }
  .char_img1{
    width: 200px;
    height: fit-content;
    left: 10%;
  }
  .char_img2{
    width: 300px;
    height: fit-content;
    top: 200px;
  }
  .char_img3{
    width: 300px;
    height: fit-content;
  }
}

@media screen and (max-width: 480px) {
  .navigation{
    align-items: center;
  }
  .link{
    left: 5%;
    top: 300px
  }
  .char_img1{
    width: 100px;
    height: fit-content;
    left: 10%;
  }
  .char_img2{
    width: 150px;
    height: fit-content;
    top: 250px;
  }
  .char_img3{
    width: 200px;
    height: fit-content;
  }
  .characteristic2{
    font-size: 40px;
  }
  .div{
    font-size: 20px;
  }
  .pr{
    font-size: 14px;
  }
  .headline{
    top: 400px;
    gap: 10px;
    width: 90%;
    left: 10%;
  }
}