body {
    background: #1e1f23;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.applicationAuthor .title {
    color: white;
    font-size: 40px;
    letter-spacing: -0.01em;
    width: 90%; 
    margin:20px auto;
}

.applicationAuthor p.txt {
    text-align: left;
    margin: 0;
}
.applicationAuthor .line {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.applicationAuthor main {
	display: block;
	width: 80%;
	margin: 50px auto;
}
.applicationAuthor main form {
	display: flex;
	justify-content: center;
	gap: 100px;
}
.applicationAuthor .part1 .profile {
	position: relative; 
    display: inline-block;
}
.applicationAuthor .part1 .profile .profile-img {
	display: block; /* 이미지를 블록으로 설정 */
	background: #ffffff;
  border-radius: 20px;
  border-width: 0.82px;
  width: 305px;
  height: 380px;
  margin-left: auto; margin-right: auto;
  text-align: center;
  object-fit: cover; /* 이미지 비율을 유지하며 크기를 조절 */
}
.applicationAuthor .part1 .profile .profile-upload {
    position: absolute; /* 절대 위치 지정 */
    top: 50%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 이미지를 정확히 중앙에 위치 */
    cursor: pointer;
    z-index: 10; /* 이미지 위에 오도록 설정 */
}
.applicationAuthor .part1 .insta {
	margin: 30px;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.applicationAuthor .part1 .insta-img {
	margin-top: auto;
	margin-bottom: auto;
}
.applicationAuthor .part1 .insta-text {
	outline: none;
  border: none;
  background: #1e1f23;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: -0.01em;
  padding-left: 15px;
  color: white;
  font-size: 15px;
}
.applicationAuthor .part1 .intro {
  text-align: center; 
}
.applicationAuthor .part1 .intro p {
	color: #ffffff;
  font-size: 30px;
  
}
.applicationAuthor .part1 .intro-text {
	outline: none;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	background: #3d3f45;
	border-radius: 20px;
	border-style: solid;
	border-color: #3d3f45;
	border-width: 1px;
	text-align: center;
	width: 200px;
	height: 200px;
	resize: none;
}
.applicationAuthor .part2 .div {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 70px;
}
.applicationAuthor .part2 .div2 {
	color: #ffffff;
	font-size: 30px;
	width: 250px;
}
.applicationAuthor .part2 .text {
	outline: none;
	border-width: 0 0 1px;
  background: #1e1f23;
  letter-spacing: -0.01em;
  color: white;
  font-size: 27px;
  box-shadow: none;
  padding-left: 10px;
}
.applicationAuthor .part2 .submit-btn {
	background: #000000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 56px;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.6);
  margin: 100px auto;
  cursor: pointer; /* 포인터 모양으로 변경 */
}
.applicationAuthor .part2 p.submit {
  color: #ffffff;
  font-size: 24px;
}
