html, body {
	background: #1e1f23;
	max-width: 100%;
	height: auto;
	overflow-x: hidden;
    overflow-y: auto;
}

.work {
	position: relative; /* 화살표가 위치할 수 있도록 설정 */
	width: auto;
	height: 550px;
	margin-top: 200px;
}

.right, .left {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute; /* 절대 위치로 설정 */
	top: 50%; /* 세로 중앙 정렬 */
	transform: translateY(-50%); /* 세로 중앙 정렬 조정 */
	cursor: pointer; /* 커서 스타일 추가 */
	z-index: 10; /* 다른 요소들 위에 표시 */
}
.right {
	right: 100px; /* 오른쪽 위치 */
}
.left {
	left: 100px; /* 왼쪽 위치 */
}
.hidden {
	display: none;
}

.image-container {
	display: flex;
	overflow: hidden;
	width: 100%; /* 필요한 너비로 조정 */
	height: 100%; /* 컨테이너의 높이를 설정 */
}

.image {
	width: 20%; /* 5개의 이미지를 가로로 표시하기 위한 너비 조정 */
	transition: transform 0.5s ease; /* 부드러운 전환 효과 */
}

.profile {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4);
	object-fit: cover;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0;
	margin-left: auto;
	cursor: pointer;
	position: relative; /* z-index가 적용되도록 설정 */
    z-index: 10; /* 다른 이미지보다 위에 위치하도록 설정 */
}
.summary {
	background: #ffffff;
	border-radius: 5px;
	width: 323px;
	height: 60px;
	box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4);
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 0;
	text-align: center;
	line-height: 60px;
}

.describe {
	margin-top: 50px;
	display: flex;
	gap: 30px;
	height: 100px;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.deco1 {
	width: 1462px;
	height: 736px;
	position: absolute;
	left: -471px;
	top: 562px;
	object-fit: cover;
	z-index: 0;
}

.deco2 {
	width: 993px;
	height: 470px;
	position: absolute;
	left: calc(50% + 70px);
	top: 162px;
	object-fit: cover;
	z-index: 0;
}

.deco3 {
	width: 909px;
	height: 450px;
	position: absolute;
	left: calc(50% + 250px);
	top: 650px;
	object-fit: cover;
	z-index: 0;
}

.deco4 {
	width: 646px;
	height: 391px;
	position: absolute;
	left: calc(50% + 600px);
	top: 246px;
	object-fit: cover;
	z-index: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.image {
	border-radius: 9px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(50% + 300px);
	top: calc(50% - 150px);
	box-shadow: 0px 3px 22.5px 0px rgba(0, 0, 0, 0.25);
	object-fit: cover;
}

.image2 {
	border-radius: 9px;
	width: 300px;
	height: 300px;
	position: absolute;
	left: calc(50% - 620px);
	top: calc(50% - 150px);
	box-shadow: 0px 3px 22.5px 0px rgba(0, 0, 0, 0.25);
	object-fit: cover;
}

.image3 {
	border-radius: 12px;
	width: 400px;
	height: 400px;
	position: absolute;
	left: calc(50% + 100px);
	top: calc(50% - 200px);
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
	object-fit: cover;
}

.image4 {
	border-radius: 12px;
	width: 400px;
	height: 400px;
	position: absolute;
	left: calc(50% - 500px);
	top: calc(50% - 200px);
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
	object-fit: cover;
}

.image5 {
	border-radius: 15px;
	width: 500px;
	height: 500px;
	position: absolute;
	left: calc(50% - 250px);
	top: calc(50% - 250px);
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
	object-fit: cover;
}

/* 1700px이상부터 적용(확대) */
@media ( max-width : 1700px) {
	.image {
		border-radius: 9px;
		width: 200px;
		height: 200px;
		position: absolute;
		left: calc(50% + 350px);
		top: calc(50% - 100px);
		box-shadow: 0px 3px 22.5px 0px rgba(0, 0, 0, 0.25);
		object-fit: cover;
	}
	.image2 {
		border-radius: 9px;
		width: 200px;
		height: 200px;
		position: absolute;
		left: calc(50% - 530px);
		top: calc(50% - 100px);
		box-shadow: 0px 3px 22.5px 0px rgba(0, 0, 0, 0.25);
		object-fit: cover;
	}
	.image3 {
		border-radius: 12px;
		width: 300px;
		height: 300px;
		position: absolute;
		left: calc(50% + 150px);
		top: calc(50% - 150px);
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
		object-fit: cover;
	}
	.image4 {
		border-radius: 12px;
		width: 300px;
		height: 300px;
		position: absolute;
		left: calc(50% - 400px);
		top: calc(50% - 150px);
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
		object-fit: cover;
	}
	.image5 {
		border-radius: 15px;
		width: 400px;
		height: 400px;
		position: absolute;
		left: calc(50% - 200px);
		top: calc(50% - 200px);
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
		object-fit: cover;
	}
	.work {
		height: 450px;
	}
	.summary {
		width: 250px;
	}
	
}