.search-box {
    background: #3d3f45;
    border-radius: 30px;
    padding: 10px 21px 10px 41px;
    display: flex;
    justify-content: space-between;
    width: 780px;
    position: absolute;
    left: calc(50% - 390px);
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.search-txt {
	color: #ffffff;
    border: none;
    outline: none;
    background: #3d3f45;
    font-family: "ABeeZee-Italic", sans-serif;
    font-size: 22px;
    letter-spacing: -0.01em;
    width: 730px;
}

.search-btn {
    border: none;
    background: #3d3f45;
    display: inline-block; /* 클릭 가능하도록 설정 */
    cursor: pointer; /* 포인터 모양으로 변경 */
}

.search-img {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block; /* 클릭 가능하도록 설정 */
    cursor: pointer; /* 포인터 모양으로 변경 */
}