<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:fragment="like-itemList" class="like-itemList">
        <figure><img th:src="@{image/like/image0.png}"></figure>
        <figure><img th:src="@{image/like/image8.png}"></figure>
        <figure><img th:src="@{image/like/image4.png}"></figure>
        <figure><img th:src="@{image/like/image3.png}"></figure>
        <figure><img th:src="@{image/like/image5.png}"></figure>
        <figure><img th:src="@{image/like/image7.png}"></figure>
        <figure><img th:src="@{image/like/image1.png}"></figure>
        <figure><img th:src="@{image/like/image6.png}"></figure>
        <figure><img th:src="@{image/like/image9.png}"></figure>            
        <figure><img th:src="@{image/like/image2.png}"></figure>
        
        <figure><img th:src="@{image/like/image0.png}"></figure>
        <figure><img th:src="@{image/like/image8.png}"></figure>
        <figure><img th:src="@{image/like/image4.png}"></figure>
        <figure><img th:src="@{image/like/image3.png}"></figure>
        <figure><img th:src="@{image/like/image5.png}"></figure>
        <figure><img th:src="@{image/like/image7.png}"></figure>
        <figure><img th:src="@{image/like/image1.png}"></figure>
        <figure><img th:src="@{image/like/image6.png}"></figure>
        <figure><img th:src="@{image/like/image9.png}"></figure>            
        <figure><img th:src="@{image/like/image2.png}"></figure>
    </div>
    
    <div th:fragment="search-itemList" class="search-itemList">
        <figure><img th:src="@{image/like/image0.png}"></figure>
        <figure><img th:src="@{image/like/image8.png}"></figure>
        <figure><img th:src="@{image/like/image4.png}"></figure>
        <figure><img th:src="@{image/like/image3.png}"></figure>
        <figure><img th:src="@{image/like/image5.png}"></figure>
        <figure><img th:src="@{image/like/image7.png}"></figure>
        <figure><img th:src="@{image/like/image1.png}"></figure>
        <figure><img th:src="@{image/like/image6.png}"></figure>
        <figure><img th:src="@{image/like/image9.png}"></figure>            
        <figure><img th:src="@{image/like/image2.png}"></figure>
        
        <figure><img th:src="@{image/like/image0.png}"></figure>
        <figure><img th:src="@{image/like/image8.png}"></figure>
        <figure><img th:src="@{image/like/image4.png}"></figure>
        <figure><img th:src="@{image/like/image3.png}"></figure>
        <figure><img th:src="@{image/like/image5.png}"></figure>
        <figure><img th:src="@{image/like/image7.png}"></figure>
        <figure><img th:src="@{image/like/image1.png}"></figure>
        <figure><img th:src="@{image/like/image6.png}"></figure>
        <figure><img th:src="@{image/like/image9.png}"></figure>            
        <figure><img th:src="@{image/like/image2.png}"></figure>
    </div>
    
    <div th:fragment="whole-itemList" class="whole-itemList">
        <figure><img th:src="@{image/like/image0.png}"></figure>
        <figure><img th:src="@{image/like/image8.png}"></figure>
        <figure><img th:src="@{image/like/image4.png}"></figure>
        <figure><img th:src="@{image/like/image3.png}"></figure>
        <figure><img th:src="@{image/like/image5.png}"></figure>
        <figure><img th:src="@{image/like/image7.png}"></figure>
        <figure><img th:src="@{image/like/image1.png}"></figure>
        <figure><img th:src="@{image/like/image6.png}"></figure>
        <figure><img th:src="@{image/like/image9.png}"></figure>            
        <figure><img th:src="@{image/like/image2.png}"></figure>
        
        <figure><img th:src="@{image/like/image0.png}"></figure>
        <figure><img th:src="@{image/like/image8.png}"></figure>
        <figure><img th:src="@{image/like/image4.png}"></figure>
        <figure><img th:src="@{image/like/image3.png}"></figure>
        <figure><img th:src="@{image/like/image5.png}"></figure>
        <figure><img th:src="@{image/like/image7.png}"></figure>
        <figure><img th:src="@{image/like/image1.png}"></figure>
        <figure><img th:src="@{image/like/image6.png}"></figure>
        <figure><img th:src="@{image/like/image9.png}"></figure>            
        <figure><img th:src="@{image/like/image2.png}"></figure>
    </div>
    
    <div th:fragment="profile-itemList" class="profile-itemList">
        <figure><img th:src="@{image/like/image0.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image8.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image4.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image3.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image5.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image7.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image1.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image6.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image9.png}">
        <p class="item-title">작품 제목</p></figure>            
        <figure><img th:src="@{image/like/image2.png}">
        <p class="item-title">작품 제목</p></figure>
        
        <figure><img th:src="@{image/like/image0.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image8.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image4.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image3.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image5.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image7.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image1.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image6.png}">
        <p class="item-title">작품 제목</p></figure>
        <figure><img th:src="@{image/like/image9.png}">
        <p class="item-title">작품 제목</p></figure>            
        <figure><img th:src="@{image/like/image2.png}">
        <p class="item-title">작품 제목</p></figure>
    </div>
</body>
</html>