<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>
	<div th:fragment="login-popup" class="login-popup">
		<div class="rectangle-white">
		    <img class="rectangle-black" th:src="@{/image/login/rectangle-black.png}" /> 
		    <img class="logo" th:src="@{/image/login/logo2.png}" />

			<div class="div">
				<div class="login">LOGIN</div>
				<div class="line-1"></div>

				<form class="loginForm" method="post" th:action="@{/login}">
					<div class="div-id">
						<div class="id">ID</div>
						<input class="id-txt" type="text" size=100
							placeholder="아이디를 입력하세요.">
					</div>
					<div class="div-pw">
						<div class="pw">PASSWORD</div>
						<input class="pw-txt" type="password" size=100
							placeholder="비밀번호를 입력하세요.">
					</div>
					<button class="login-btn" type="submit">로그인하기</button>
				</form>

				<div class="div-mini">
					<div class="mini"><a th:href="@{/signup}">회원가입</a></div>
					<div class="mini-line"></div>
					<div class="mini"><a th:href="@{/findId}">아이디 찾기</a></div>
					<div class="mini-line"></div>
					<div class="mini"><a th:href="@{/findPw}">비밀번호 찾기/재설정</a></div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>