<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{js/popup.js}">
<meta charset="UTF-8">
<title>navigation</title>
</head>
<body>
    <div th:fragment="nav" class="nav">
        <div class="navigation">
           <div class="navi-left">
               <a th:href="@{main}"><img class="navi-logo" th:src="@{image/main/logo.png}" /></a>
               <div class="menu">
                   <div class="main"><a th:href="@{main}">MAIN</a></div>
                   <div class="whole"><a th:href="@{whole-items}">전체보기</a></div>
                   <!-- 로그인이 된 경우 -->
                   <div class="whole"><a th:href="@{myPage}" th:if="${session.username}"><span th:text="${session.username}"></span></a></div>
                   <div class="whole"><a th:href="@{logout}" th:if="${session.username}">로그아웃</a></div>
               </div>
           </div>
            <div class="navi-right">
                <!-- 로그인이 된 경우 -->
                <a th:href="@{likeList}" th:if="${session.username}">
                    <img class="like" th:src="@{image/main/like.png}" /> 
                </a>
                <a th:href="@{cart}" th:if="${session.username}">
                    <img class="cart" th:src="@{image/main/cart.png}" />
                </a>
                <a th:href="@{myPage}" th:if="${session.username}">
                    <img class="person" th:src="@{image/main/person.png}" />
                </a>
                <a class="btn_open" th:if="${session.username}">
                    <img class="below" th:src="@{image/main/below.png}" />
                </a>
                <!-- 로그인 안 된 경우 --> 
                <a class="btn_open" onclick="loginPopOpen(); return false;" th:unless="${session.username}">
                    <img class="like" th:src="@{image/main/like.png}" /> 
                </a>
                <a class="btn_open" onclick="loginPopOpen(); return false;" th:unless="${session.username}">
                    <img class="cart" th:src="@{image/main/cart.png}" />
                </a>
                <a class="btn_open" onclick="loginPopOpen(); return false;" th:unless="${session.username}">
                    <img class="person" th:src="@{image/main/person.png}" />
                </a>
                <a class="btn_open" onclick="loginPopOpen(); return false;" th:unless="${session.username}">
                    <img class="below" th:src="@{image/main/below.png}" />
                </a>
            </div>
        </div>
        
        <!-- 레이어 팝업 -->
        <div th:insert="~{popup :: layer}"></div>
    </div>
    
</body>
</html>